In [1]:
import pandas as pd
import os

In [2]:
path='/Users/ozintel/Downloads/Tsl_python_progect/local_ml/kaggle_competition/kaggle_competition_datas/sweet_orange/orange_data'
o_train=pd.read_csv(os.path.join(path,"operation_TRAIN.csv"),dtype=str)
t_train=pd.read_csv(os.path.join(path,"transaction_TRAIN.csv"),dtype=str)
o_test=pd.read_csv(os.path.join(path,"operation_round1.csv"),dtype=str)
t_test=pd.read_csv(os.path.join(path,"transaction_round1.csv"),dtype=str)
label_train=pd.read_csv(os.path.join(path,"tag_TRAIN.csv"),dtype=str)
submit_example=pd.read_csv(os.path.join(path,"sumbmit_example.csv"),dtype=str)

In [7]:
o_train.columns

Index(['UID', 'day', 'mode', 'success', 'time', 'os', 'version', 'device1',
       'device2', 'device_code1', 'device_code2', 'device_code3', 'mac1',
       'mac2', 'ip1', 'ip2', 'wifi', 'geo_code', 'ip1_sub', 'ip2_sub'],
      dtype='object')

In [8]:
t_train.columns

Index(['UID', 'channel', 'day', 'time', 'trans_amt', 'amt_src1', 'merchant',
       'code1', 'code2', 'trans_type1', 'acc_id1', 'device_code1',
       'device_code2', 'device_code3', 'device1', 'device2', 'mac1', 'ip1',
       'bal', 'amt_src2', 'acc_id2', 'acc_id3', 'geo_code', 'trans_type2',
       'market_code', 'market_type', 'ip1_sub'],
      dtype='object')

In [63]:
label_train.columns

Index(['UID', 'Tag'], dtype='object')

In [64]:
o_test.columns

Index(['UID', 'day', 'mode', 'success', 'time', 'os', 'version', 'device1',
       'device2', 'device_code1', 'device_code2', 'device_code3', 'mac1',
       'mac2', 'ip1', 'ip2', 'wifi', 'geo_code', 'ip1_sub', 'ip2_sub'],
      dtype='object')

In [10]:
o_train['UID'].nunique()

11979

In [22]:
o_train['UID'].unique()

array([10035, 16264, 13162, ..., 13097, 14211, 17301])

In [12]:
t_train['UID'].nunique()

13013

In [18]:
label_train['UID'].nunique()

13422

In [16]:
len(set(t_train['UID'])&set(o_train['UID']))

11570

In [19]:
len(set(t_train['UID'])&set(label_train['UID']))

13013

In [20]:
len(set(label_train['UID'])&set(o_train['UID']))

11979

In [25]:
t_train['UID'].unique()

array([19092, 13465, 13713, ..., 16669, 11744, 20653])

In [8]:
o_train.sort_values(['UID','day']).head(50)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day</th>
      <th>mode</th>
      <th>success</th>
      <th>time</th>
      <th>os</th>
      <th>version</th>
      <th>device1</th>
      <th>device2</th>
      <th>device_code1</th>
      <th>device_code2</th>
      <th>device_code3</th>
      <th>mac1</th>
      <th>mac2</th>
      <th>ip1</th>
      <th>ip2</th>
      <th>wifi</th>
      <th>geo_code</th>
      <th>ip1_sub</th>
      <th>ip2_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>87507</th>
      <td>10000</td>
      <td>13</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>216744</th>
      <td>10000</td>
      <td>13</td>
      <td>270ca3ca8f0d1126</td>
      <td>1.0</td>
      <td>14:22:59</td>
      <td>103</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>307385</th>
      <td>10000</td>
      <td>13</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>420183</th>
      <td>10000</td>
      <td>13</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>96940</th>
      <td>10000</td>
      <td>26</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>150480</th>
      <td>10000</td>
      <td>26</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>12:24:21</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>168206</th>
      <td>10000</td>
      <td>26</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>196361</th>
      <td>10000</td>
      <td>26</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>339411</th>
      <td>10000</td>
      <td>26</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>12:24:01</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12359</th>
      <td>10001</td>
      <td>02</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>08:31:24</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28226</th>
      <td>10001</td>
      <td>02</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>08:31:23</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>NaN</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>2c1958d001a993d9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>bd5e6a16e61e61f7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>89101</th>
      <td>10001</td>
      <td>02</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>18:06:49</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>efbb5ead51d15c20</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>65c1dd4bafd31507</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>127816</th>
      <td>10001</td>
      <td>02</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>08:31:16</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>133528</th>
      <td>10001</td>
      <td>02</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>08:31:35</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>2c1958d001a993d9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>bd5e6a16e61e61f7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>214008</th>
      <td>10001</td>
      <td>02</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>08:30:52</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>2c1958d001a993d9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>bd5e6a16e61e61f7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>215665</th>
      <td>10001</td>
      <td>02</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>18:11:19</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>2d4081b597ed207d</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>efbb5ead51d15c20</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>65c1dd4bafd31507</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>224571</th>
      <td>10001</td>
      <td>02</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>08:30:54</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>2c1958d001a993d9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>bd5e6a16e61e61f7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>364612</th>
      <td>10001</td>
      <td>02</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>08:31:17</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>369364</th>
      <td>10001</td>
      <td>02</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>18:11:19</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>efbb5ead51d15c20</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>65c1dd4bafd31507</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>421795</th>
      <td>10001</td>
      <td>02</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>18:09:46</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19003</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:23:09</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27682</th>
      <td>10001</td>
      <td>03</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>07:18:16</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>NaN</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>106049</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:11:07</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>2d4081b597ed207d</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>132609</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:04:02</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>152531</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:03:58</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>2d4081b597ed207d</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>177196</th>
      <td>10001</td>
      <td>03</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>07:18:16</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>NaN</td>
      <td>e56819f72c9b7860</td>
      <td>2d4081b597ed207d</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>190354</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:03:58</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>194210</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:04:02</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>2d4081b597ed207d</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>213288</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:20:09</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>231485</th>
      <td>10001</td>
      <td>03</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>07:18:05</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>247885</th>
      <td>10001</td>
      <td>03</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>07:18:05</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>273847</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:11:07</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>357402</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:20:09</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>2d4081b597ed207d</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>359160</th>
      <td>10001</td>
      <td>03</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>07:23:09</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>2d4081b597ed207d</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bca1b486effef686</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>8e6d45472f232ed4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>362940</th>
      <td>10001</td>
      <td>03</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>07:18:06</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>376699</th>
      <td>10001</td>
      <td>03</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>07:18:06</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9756</th>
      <td>10001</td>
      <td>04</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>22:28:16</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>b9e949be9ca7f572</td>
      <td>NaN</td>
      <td>a1ff97a9f897f135</td>
      <td>wssp</td>
      <td>b289dc1eded981da</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>216068</th>
      <td>10001</td>
      <td>04</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>22:30:38</td>
      <td>200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>290852</th>
      <td>10001</td>
      <td>04</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>

In [9]:
t_train.sort_values(['UID','day']).head(20)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>channel</th>
      <th>day</th>
      <th>time</th>
      <th>trans_amt</th>
      <th>amt_src1</th>
      <th>merchant</th>
      <th>code1</th>
      <th>code2</th>
      <th>trans_type1</th>
      <th>...</th>
      <th>ip1</th>
      <th>bal</th>
      <th>amt_src2</th>
      <th>acc_id2</th>
      <th>acc_id3</th>
      <th>geo_code</th>
      <th>trans_type2</th>
      <th>market_code</th>
      <th>market_type</th>
      <th>ip1_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>90698</th>
      <td>10000</td>
      <td>140</td>
      <td>26</td>
      <td>12:23:56</td>
      <td>5536</td>
      <td>f29829bc82459191</td>
      <td>88aa547576f43f85</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>34c715882de1a508</td>
      <td>100</td>
      <td>9a8ee16bde15e38a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>105.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
    </tr>
    <tr>
      <th>134052</th>
      <td>10000</td>
      <td>140</td>
      <td>26</td>
      <td>12:24:17</td>
      <td>5536</td>
      <td>f29829bc82459191</td>
      <td>88aa547576f43f85</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>34c715882de1a508</td>
      <td>100</td>
      <td>9a8ee16bde15e38a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>105.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
    </tr>
    <tr>
      <th>63298</th>
      <td>10001</td>
      <td>140</td>
      <td>02</td>
      <td>08:31:13</td>
      <td>9287</td>
      <td>4d7831c6f695ab19</td>
      <td>f3237791ad270d6b</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>2c1958d001a993d9</td>
      <td>100</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>105.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>bd5e6a16e61e61f7</td>
    </tr>
    <tr>
      <th>98298</th>
      <td>10001</td>
      <td>140</td>
      <td>02</td>
      <td>08:31:13</td>
      <td>154</td>
      <td>c5fc631370cabc0d</td>
      <td>f3237791ad270d6b</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>2c1958d001a993d9</td>
      <td>100</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>105.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>bd5e6a16e61e61f7</td>
    </tr>
    <tr>
      <th>42602</th>
      <td>10001</td>
      <td>102</td>
      <td>03</td>
      <td>07:18:17</td>
      <td>15186</td>
      <td>155c9e1c32bd0fa2</td>
      <td>a18cb3d84b9ec04c</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>bca1b486effef686</td>
      <td>61204</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8e6d45472f232ed4</td>
    </tr>
    <tr>
      <th>89982</th>
      <td>10001</td>
      <td>102</td>
      <td>04</td>
      <td>22:30:51</td>
      <td>15186</td>
      <td>155c9e1c32bd0fa2</td>
      <td>a18cb3d84b9ec04c</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>85f4a2f59ceb4a1d</td>
      <td>46125</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8f396a6bd85f9ba3</td>
    </tr>
    <tr>
      <th>45908</th>
      <td>10001</td>
      <td>102</td>
      <td>07</td>
      <td>16:12:52</td>
      <td>13628</td>
      <td>155c9e1c32bd0fa2</td>
      <td>3bd5cf7c40962299</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>e0d7b8768da99dd4</td>
      <td>...</td>
      <td>c22ed313c546ab57</td>
      <td>100</td>
      <td>cf6e3a074407c379</td>
      <td>65407f8f309309a6</td>
      <td>4c287b179b08eb62</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d41ade4caf85310</td>
    </tr>
    <tr>
      <th>78949</th>
      <td>10001</td>
      <td>102</td>
      <td>07</td>
      <td>07:30:48</td>
      <td>10293</td>
      <td>155c9e1c32bd0fa2</td>
      <td>a18cb3d84b9ec04c</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>39e2bf7f8f441d4f</td>
      <td>22354</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>509cdabae18d3c24</td>
    </tr>
    <tr>
      <th>126895</th>
      <td>10001</td>
      <td>102</td>
      <td>07</td>
      <td>07:34:35</td>
      <td>81648</td>
      <td>9451ef3c5a0d6807</td>
      <td>3f6d3d0f42519ea4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>39e2bf7f8f441d4f</td>
      <td>100</td>
      <td>8d2ff85b6fd5dc78</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>509cdabae18d3c24</td>
    </tr>
    <tr>
      <th>23578</th>
      <td>10001</td>
      <td>102</td>
      <td>08</td>
      <td>07:49:23</td>
      <td>15186</td>
      <td>155c9e1c32bd0fa2</td>
      <td>a18cb3d84b9ec04c</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>c22ed313c546ab57</td>
      <td>75290</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d41ade4caf85310</td>
    </tr>
    <tr>
      <th>46299</th>
      <td>10001</td>
      <td>102</td>
      <td>11</td>
      <td>06:56:56</td>
      <td>15186</td>
      <td>155c9e1c32bd0fa2</td>
      <td>a18cb3d84b9ec04c</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>bfb9b4a545fc568f</td>
      <td>60228</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d8320beee117fb9</td>
    </tr>
    <tr>
      <th>144625</th>
      <td>10001</td>
      <td>102</td>
      <td>11</td>
      <td>07:02:09</td>
      <td>108831</td>
      <td>9451ef3c5a0d6807</td>
      <td>3f6d3d0f42519ea4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>bfb9b4a545fc568f</td>
      <td>100</td>
      <td>8d2ff85b6fd5dc78</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d8320beee117fb9</td>
    </tr>
    <tr>
      <th>48167</th>
      <td>10001</td>
      <td>102</td>
      <td>12</td>
      <td>12:38:22</td>
      <td>1385</td>
      <td>acdbdb842ac20f1e</td>
      <td>d1136ca5db98c376</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>26bcf43a19df14c8</td>
      <td>...</td>
      <td>e65a4b0133385267</td>
      <td>156099</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>102.0</td>
      <td>217181f12d534065</td>
      <td>1.0</td>
      <td>ae6329fa49927bfc</td>
    </tr>
    <tr>
      <th>147629</th>
      <td>10001</td>
      <td>102</td>
      <td>12</td>
      <td>12:38:22</td>
      <td>12968</td>
      <td>155c9e1c32bd0fa2</td>
      <td>d1136ca5db98c376</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>e65a4b0133385267</td>
      <td>156099</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ae6329fa49927bfc</td>
    </tr>
    <tr>
      <th>19873</th>
      <td>10001</td>
      <td>102</td>
      <td>13</td>
      <td>15:04:10</td>
      <td>81648</td>
      <td>155c9e1c32bd0fa2</td>
      <td>d8babe2d19fa0c08</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>e65a4b0133385267</td>
      <td>75853</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ae6329fa49927bfc</td>
    </tr>
    <tr>
      <th>64956</th>
      <td>10001</td>
      <td>102</td>
      <td>13</td>
      <td>15:04:10</td>
      <td>1323</td>
      <td>acdbdb842ac20f1e</td>
      <td>d8babe2d19fa0c08</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>26bcf43a19df14c8</td>
      <td>...</td>
      <td>e65a4b0133385267</td>
      <td>75853</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>3d8271370e1d6a93</td>
      <td>1.0</td>
      <td>ae6329fa49927bfc</td>
    </tr>
    <tr>
      <th>80067</th>
      <td>10001</td>
      <td>102</td>
      <td>13</td>
      <td>15:04:10</td>
      <td>8254</td>
      <td>acdbdb842ac20f1e</td>
      <td>d8babe2d19fa0c08</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>26bcf43a19df14c8</td>
      <td>...</td>
      <td>e65a4b0133385267</td>
      <td>75853</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>102.0</td>
      <td>de832925a880adb0</td>
      <td>1.0</td>
      <td>ae6329fa49927bfc</td>
    </tr>
    <tr>
      <th>100517</th>
      <td>10001</td>
      <td>140</td>
      <td>30</td>
      <td>07:09:48</td>
      <td>6977</td>
      <td>4d7831c6f695ab19</td>
      <td>fd1e5bf59a1ee156</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>dcd3ce75491b3dd4</td>
      <td>100</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>105.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>43959476721f93fa</td>
    </tr>
    <tr>
      <th>134871</th>
      <td>10001</td>
      <td>140</td>
      <td>30</td>
      <td>07:09:48</td>
      <td>1377</td>
      <td>c5fc631370cabc0d</td>
      <td>fd1e5bf59a1ee156</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>dcd3ce75491b3dd4</td>
      <td>100</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>105.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>43959476721f93fa</td>
    </tr>
    <tr>
      <th>152464</th>
      <td>10001</td>
      <td>102</td>
      <td>30</td>
      <td>15:38:09</td>
      <td>10293</td>
      <td>155c9e1c32bd0fa2</td>
      <td>a18cb3d84b9ec04c</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6d55c54c8b1056fb</td>
      <td>...</td>
      <td>a9ded7f2721d67b6</td>
      <td>72118</td>
      <td>9fefed0a981dcb7a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>102.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20a23941af66c253</td>
    </tr>
  </tbody>
</table>
<p>20 rows  27 columns</p>
</div>

In [13]:
t_train[t_train['UID']=='10000'].head(20)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>channel</th>
      <th>day</th>
      <th>time</th>
      <th>trans_amt</th>
      <th>amt_src1</th>
      <th>merchant</th>
      <th>code1</th>
      <th>code2</th>
      <th>trans_type1</th>
      <th>...</th>
      <th>ip1</th>
      <th>bal</th>
      <th>amt_src2</th>
      <th>acc_id2</th>
      <th>acc_id3</th>
      <th>geo_code</th>
      <th>trans_type2</th>
      <th>market_code</th>
      <th>market_type</th>
      <th>ip1_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>90698</th>
      <td>10000</td>
      <td>140</td>
      <td>26</td>
      <td>12:23:56</td>
      <td>5536</td>
      <td>f29829bc82459191</td>
      <td>88aa547576f43f85</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>34c715882de1a508</td>
      <td>100</td>
      <td>9a8ee16bde15e38a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>105.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
    </tr>
    <tr>
      <th>134052</th>
      <td>10000</td>
      <td>140</td>
      <td>26</td>
      <td>12:24:17</td>
      <td>5536</td>
      <td>f29829bc82459191</td>
      <td>88aa547576f43f85</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>34c715882de1a508</td>
      <td>100</td>
      <td>9a8ee16bde15e38a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>105.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
    </tr>
  </tbody>
</table>
<p>2 rows  27 columns</p>
</div>

In [15]:
o_train[o_train['UID']=='10000'].head(20)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day</th>
      <th>mode</th>
      <th>success</th>
      <th>time</th>
      <th>os</th>
      <th>version</th>
      <th>device1</th>
      <th>device2</th>
      <th>device_code1</th>
      <th>device_code2</th>
      <th>device_code3</th>
      <th>mac1</th>
      <th>mac2</th>
      <th>ip1</th>
      <th>ip2</th>
      <th>wifi</th>
      <th>geo_code</th>
      <th>ip1_sub</th>
      <th>ip2_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>87507</th>
      <td>10000</td>
      <td>13</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>96940</th>
      <td>10000</td>
      <td>26</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>150480</th>
      <td>10000</td>
      <td>26</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>12:24:21</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>168206</th>
      <td>10000</td>
      <td>26</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>196361</th>
      <td>10000</td>
      <td>26</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>216744</th>
      <td>10000</td>
      <td>13</td>
      <td>270ca3ca8f0d1126</td>
      <td>1.0</td>
      <td>14:22:59</td>
      <td>103</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>307385</th>
      <td>10000</td>
      <td>13</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>339411</th>
      <td>10000</td>
      <td>26</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>12:24:01</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>420183</th>
      <td>10000</td>
      <td>13</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
dic1=dict(list(o_train[0:10000].groupby('UID')))

In [24]:
list(dic1.keys())[0:10]

['10001',
 '10004',
 '10007',
 '10016',
 '10017',
 '10021',
 '10024',
 '10025',
 '10028',
 '10029']

In [25]:
dic1['10001']

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day</th>
      <th>mode</th>
      <th>success</th>
      <th>time</th>
      <th>os</th>
      <th>version</th>
      <th>device1</th>
      <th>device2</th>
      <th>device_code1</th>
      <th>device_code2</th>
      <th>device_code3</th>
      <th>mac1</th>
      <th>mac2</th>
      <th>ip1</th>
      <th>ip2</th>
      <th>wifi</th>
      <th>geo_code</th>
      <th>ip1_sub</th>
      <th>ip2_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5394</th>
      <td>10001</td>
      <td>11</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>07:01:50</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>NaN</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>bfb9b4a545fc568f</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssp</td>
      <td>6d8320beee117fb9</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9756</th>
      <td>10001</td>
      <td>04</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>22:28:16</td>
      <td>102</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>e56819f72c9b7860</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>b9e949be9ca7f572</td>
      <td>NaN</td>
      <td>a1ff97a9f897f135</td>
      <td>wssp</td>
      <td>b289dc1eded981da</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
type(dic1['10001'])

pandas.core.frame.DataFrame

In [11]:
label_train.sort_values(['UID']).head(20)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10001</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10002</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10003</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10004</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10005</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10006</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10007</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10008</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10009</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10010</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10011</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>10012</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>10013</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>10014</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>10015</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>10016</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>10017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>10018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>10019</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
df1=pd.merge(label_train,t_train,how='left',on='UID')

In [39]:
df1=pd.merge(label_train,o_train,how='left',on='UID')

In [40]:
df1.sort_values(['UID','day']).head(20)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>Tag</th>
      <th>day</th>
      <th>mode</th>
      <th>success</th>
      <th>time</th>
      <th>os</th>
      <th>version</th>
      <th>device1</th>
      <th>device2</th>
      <th>...</th>
      <th>device_code2</th>
      <th>device_code3</th>
      <th>mac1</th>
      <th>mac2</th>
      <th>ip1</th>
      <th>ip2</th>
      <th>wifi</th>
      <th>geo_code</th>
      <th>ip1_sub</th>
      <th>ip2_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000</td>
      <td>1</td>
      <td>13.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103.0</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10000</td>
      <td>1</td>
      <td>13.0</td>
      <td>270ca3ca8f0d1126</td>
      <td>1.0</td>
      <td>14:22:59</td>
      <td>103.0</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10000</td>
      <td>1</td>
      <td>13.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103.0</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10000</td>
      <td>1</td>
      <td>13.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>14:20:56</td>
      <td>103.0</td>
      <td>7.0.5</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>31599eec867ba9c7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ee08d48e73120da4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10000</td>
      <td>1</td>
      <td>26.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103.0</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10000</td>
      <td>1</td>
      <td>26.0</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>12:24:21</td>
      <td>103.0</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10000</td>
      <td>1</td>
      <td>26.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103.0</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10000</td>
      <td>1</td>
      <td>26.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>12:23:48</td>
      <td>103.0</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>IPHONE 5</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10000</td>
      <td>1</td>
      <td>26.0</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>12:24:01</td>
      <td>103.0</td>
      <td>7.0.7</td>
      <td>aca4977fbe8741e1</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>deb68f7028682008</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34c715882de1a508</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1e3ea9498c461cbf</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>08:31:24</td>
      <td>200.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>08:31:23</td>
      <td>102.0</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>NaN</td>
      <td>...</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>2c1958d001a993d9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>bd5e6a16e61e61f7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>18:06:49</td>
      <td>102.0</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>...</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>efbb5ead51d15c20</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>65c1dd4bafd31507</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>08:31:16</td>
      <td>200.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>08:31:35</td>
      <td>102.0</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>...</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>2c1958d001a993d9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>bd5e6a16e61e61f7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>41</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>08:30:52</td>
      <td>102.0</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>...</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>2c1958d001a993d9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>bd5e6a16e61e61f7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>42</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>18:11:19</td>
      <td>102.0</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>...</td>
      <td>2d4081b597ed207d</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>efbb5ead51d15c20</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>65c1dd4bafd31507</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>45</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>08:30:54</td>
      <td>102.0</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>...</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>2c1958d001a993d9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wsgb</td>
      <td>bd5e6a16e61e61f7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>68</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>08:31:17</td>
      <td>200.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>69</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>18:11:19</td>
      <td>102.0</td>
      <td>6.6.2</td>
      <td>09baf2f39bc3dc86</td>
      <td>HUAWEI GRA-CL00</td>
      <td>...</td>
      <td>1aa9250077f98fea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>978e38f2d0431a30</td>
      <td>efbb5ead51d15c20</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wssu</td>
      <td>65c1dd4bafd31507</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>74</th>
      <td>10001</td>
      <td>0</td>
      <td>2.0</td>
      <td>79f8b86938180c3c</td>
      <td>NaN</td>
      <td>18:09:46</td>
      <td>200.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>20 rows  21 columns</p>
</div>

In [5]:
t_test.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>channel</th>
      <th>day</th>
      <th>time</th>
      <th>trans_amt</th>
      <th>amt_src1</th>
      <th>merchant</th>
      <th>code1</th>
      <th>code2</th>
      <th>trans_type1</th>
      <th>...</th>
      <th>ip1</th>
      <th>bal</th>
      <th>amt_src2</th>
      <th>acc_id2</th>
      <th>acc_id3</th>
      <th>geo_code</th>
      <th>trans_type2</th>
      <th>market_code</th>
      <th>market_type</th>
      <th>ip1_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>100224</td>
      <td>100224</td>
      <td>100224</td>
      <td>100224</td>
      <td>100224</td>
      <td>100224</td>
      <td>100224</td>
      <td>7263</td>
      <td>2376</td>
      <td>100224</td>
      <td>...</td>
      <td>79009</td>
      <td>100224</td>
      <td>61521</td>
      <td>17118</td>
      <td>17452</td>
      <td>69799</td>
      <td>87405</td>
      <td>8351</td>
      <td>8351</td>
      <td>79009</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>13115</td>
      <td>4</td>
      <td>31</td>
      <td>42458</td>
      <td>8884</td>
      <td>26</td>
      <td>11219</td>
      <td>2923</td>
      <td>542</td>
      <td>16</td>
      <td>...</td>
      <td>29521</td>
      <td>6297</td>
      <td>114</td>
      <td>6004</td>
      <td>7855</td>
      <td>2671</td>
      <td>4</td>
      <td>344</td>
      <td>2</td>
      <td>14399</td>
    </tr>
    <tr>
      <th>top</th>
      <td>35669</td>
      <td>140</td>
      <td>27</td>
      <td>09:00:12</td>
      <td>1459</td>
      <td>155c9e1c32bd0fa2</td>
      <td>3bd5cf7c40962299</td>
      <td>c7d25bb127079b68</td>
      <td>24099ad7fa993df0</td>
      <td>c2f2023d279665b2</td>
      <td>...</td>
      <td>eb8281d9240fb6f4</td>
      <td>100</td>
      <td>9fefed0a981dcb7a</td>
      <td>3c16aed4e65953a6</td>
      <td>0da6a482149ead1d</td>
      <td>wmev</td>
      <td>105.0</td>
      <td>d924cfa9112c5ab1</td>
      <td>1.0</td>
      <td>f8370cb89dade141</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>1351</td>
      <td>58041</td>
      <td>9061</td>
      <td>20</td>
      <td>14294</td>
      <td>26452</td>
      <td>13109</td>
      <td>135</td>
      <td>43</td>
      <td>50214</td>
      <td>...</td>
      <td>1968</td>
      <td>85015</td>
      <td>13948</td>
      <td>363</td>
      <td>238</td>
      <td>1544</td>
      <td>41281</td>
      <td>876</td>
      <td>5820</td>
      <td>1968</td>
    </tr>
  </tbody>
</table>
<p>4 rows  27 columns</p>
</div>

In [6]:
t_test['UID'].nunique()

13115

In [8]:
t_test['UID'].shape

(100224,)

In [10]:
o_test.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day</th>
      <th>mode</th>
      <th>success</th>
      <th>time</th>
      <th>os</th>
      <th>version</th>
      <th>device1</th>
      <th>device2</th>
      <th>device_code1</th>
      <th>device_code2</th>
      <th>device_code3</th>
      <th>mac1</th>
      <th>mac2</th>
      <th>ip1</th>
      <th>ip2</th>
      <th>wifi</th>
      <th>geo_code</th>
      <th>ip1_sub</th>
      <th>ip2_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>545633</td>
      <td>545633</td>
      <td>545633</td>
      <td>513797</td>
      <td>545633</td>
      <td>545633</td>
      <td>450097</td>
      <td>451193</td>
      <td>391405</td>
      <td>371991</td>
      <td>360109</td>
      <td>78283</td>
      <td>57382</td>
      <td>315355</td>
      <td>446527</td>
      <td>55950</td>
      <td>166218</td>
      <td>350011</td>
      <td>446527</td>
      <td>55950</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>10128</td>
      <td>31</td>
      <td>88</td>
      <td>2</td>
      <td>73206</td>
      <td>7</td>
      <td>26</td>
      <td>958</td>
      <td>990</td>
      <td>8977</td>
      <td>12342</td>
      <td>2449</td>
      <td>3989</td>
      <td>6709</td>
      <td>61280</td>
      <td>7962</td>
      <td>11526</td>
      <td>3147</td>
      <td>24352</td>
      <td>5602</td>
    </tr>
    <tr>
      <th>top</th>
      <td>43063</td>
      <td>27</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>08:59:01</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>09baf2f39bc3dc86</td>
      <td>IPHONE 6</td>
      <td>77e89f939619f874</td>
      <td>aaeb562aad079a82</td>
      <td>de89dc778fc25052</td>
      <td>a8dc52f65085212e</td>
      <td>a8dc52f65085212e</td>
      <td>0fe293bea342665a</td>
      <td>4cd6562985ec4ae5</td>
      <td>c5f03f0d32165021</td>
      <td>wmd6</td>
      <td>f5009e2c6c13c80c</td>
      <td>77aa94e2b65e0d4e</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>2562</td>
      <td>34771</td>
      <td>298324</td>
      <td>488072</td>
      <td>33</td>
      <td>374791</td>
      <td>189246</td>
      <td>111212</td>
      <td>11378</td>
      <td>1991</td>
      <td>1488</td>
      <td>2211</td>
      <td>23374</td>
      <td>133963</td>
      <td>5048</td>
      <td>168</td>
      <td>955</td>
      <td>3276</td>
      <td>5048</td>
      <td>331</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
o_test.sort_values('UID').head(20)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day</th>
      <th>mode</th>
      <th>success</th>
      <th>time</th>
      <th>os</th>
      <th>version</th>
      <th>device1</th>
      <th>device2</th>
      <th>device_code1</th>
      <th>device_code2</th>
      <th>device_code3</th>
      <th>mac1</th>
      <th>mac2</th>
      <th>ip1</th>
      <th>ip2</th>
      <th>wifi</th>
      <th>geo_code</th>
      <th>ip1_sub</th>
      <th>ip2_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>79257</th>
      <td>30000</td>
      <td>25</td>
      <td>072eee5c88d380df</td>
      <td>1.0</td>
      <td>20:00:15</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wmsy</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>43775</th>
      <td>30000</td>
      <td>25</td>
      <td>8c7ce5ff939e66d1</td>
      <td>1.0</td>
      <td>19:59:22</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wmsy</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>108270</th>
      <td>30000</td>
      <td>25</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>21:13:55</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24327</th>
      <td>30000</td>
      <td>25</td>
      <td>ac63e881c4e19402</td>
      <td>1.0</td>
      <td>19:59:44</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wmsy</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>62243</th>
      <td>30000</td>
      <td>25</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>21:13:56</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>490102</th>
      <td>30000</td>
      <td>25</td>
      <td>2f3e878175e34d9c</td>
      <td>1.0</td>
      <td>21:14:10</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wmsy</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>220725</th>
      <td>30000</td>
      <td>25</td>
      <td>9c69742a831d6214</td>
      <td>1.0</td>
      <td>19:58:56</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wmsy</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>509094</th>
      <td>30000</td>
      <td>25</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>20:02:49</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>351005</th>
      <td>30000</td>
      <td>25</td>
      <td>acfaded7e04e7ba0</td>
      <td>1.0</td>
      <td>20:00:15</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wmsy</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>438836</th>
      <td>30000</td>
      <td>25</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>21:13:57</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>349632</th>
      <td>30000</td>
      <td>25</td>
      <td>1c341176507fbd9b</td>
      <td>1.0</td>
      <td>19:58:56</td>
      <td>103</td>
      <td>7.0.7</td>
      <td>ce26b1cbdc4db90e</td>
      <td>IPHONE 6</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>060d2ba0ae3f844a</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>a172170f881898b9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>wmsy</td>
      <td>02c53c843e93fcd4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>269426</th>
      <td>30001</td>
      <td>21</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>19:05:30</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>49dd36968dbfadda</td>
      <td>OPPO A59M</td>
      <td>19e2d1b6868609c8</td>
      <td>73a72132fd9b5b6f</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>740deabc4dd3595d</td>
      <td>77889baa905d39ac</td>
      <td>NaN</td>
      <td>dcc49c018eeac421</td>
      <td>wwcc</td>
      <td>cb889800b30aeecc</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>217270</th>
      <td>30001</td>
      <td>21</td>
      <td>bf79b3647c0878eb</td>
      <td>1.0</td>
      <td>15:24:34</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>49dd36968dbfadda</td>
      <td>OPPO A59M</td>
      <td>19e2d1b6868609c8</td>
      <td>73a72132fd9b5b6f</td>
      <td>NaN</td>
      <td>449d8eff2762f2c1</td>
      <td>NaN</td>
      <td>b5553bcac96a08bd</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6da6272314652ef4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>109263</th>
      <td>30001</td>
      <td>21</td>
      <td>e806d126013b42d1</td>
      <td>1.0</td>
      <td>15:24:38</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>49dd36968dbfadda</td>
      <td>OPPO A59M</td>
      <td>19e2d1b6868609c8</td>
      <td>73a72132fd9b5b6f</td>
      <td>NaN</td>
      <td>449d8eff2762f2c1</td>
      <td>NaN</td>
      <td>b5553bcac96a08bd</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6da6272314652ef4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>466754</th>
      <td>30001</td>
      <td>21</td>
      <td>c8741ce15ceac2a4</td>
      <td>1.0</td>
      <td>19:05:34</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>49dd36968dbfadda</td>
      <td>OPPO A59M</td>
      <td>19e2d1b6868609c8</td>
      <td>73a72132fd9b5b6f</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>740deabc4dd3595d</td>
      <td>77889baa905d39ac</td>
      <td>NaN</td>
      <td>dcc49c018eeac421</td>
      <td>wwcc</td>
      <td>cb889800b30aeecc</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>204807</th>
      <td>30001</td>
      <td>21</td>
      <td>d25caee90b27fa9b</td>
      <td>1.0</td>
      <td>15:29:58</td>
      <td>101</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>324956</th>
      <td>30001</td>
      <td>21</td>
      <td>072eee5c88d380df</td>
      <td>1.0</td>
      <td>15:25:25</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>49dd36968dbfadda</td>
      <td>OPPO A59M</td>
      <td>19e2d1b6868609c8</td>
      <td>73a72132fd9b5b6f</td>
      <td>NaN</td>
      <td>449d8eff2762f2c1</td>
      <td>NaN</td>
      <td>b5553bcac96a08bd</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6da6272314652ef4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>284173</th>
      <td>30001</td>
      <td>21</td>
      <td>09080b31b40d57e8</td>
      <td>1.0</td>
      <td>15:24:54</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>49dd36968dbfadda</td>
      <td>OPPO A59M</td>
      <td>19e2d1b6868609c8</td>
      <td>73a72132fd9b5b6f</td>
      <td>NaN</td>
      <td>449d8eff2762f2c1</td>
      <td>NaN</td>
      <td>b5553bcac96a08bd</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6da6272314652ef4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>343429</th>
      <td>30001</td>
      <td>21</td>
      <td>ac63e881c4e19402</td>
      <td>1.0</td>
      <td>15:25:23</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>49dd36968dbfadda</td>
      <td>OPPO A59M</td>
      <td>19e2d1b6868609c8</td>
      <td>73a72132fd9b5b6f</td>
      <td>NaN</td>
      <td>449d8eff2762f2c1</td>
      <td>NaN</td>
      <td>b5553bcac96a08bd</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6da6272314652ef4</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>376766</th>
      <td>30001</td>
      <td>21</td>
      <td>acfaded7e04e7ba0</td>
      <td>1.0</td>
      <td>15:25:40</td>
      <td>102</td>
      <td>7.1.3</td>
      <td>49dd36968dbfadda</td>
      <td>OPPO A59M</td>
      <td>19e2d1b6868609c8</td>
      <td>73a72132fd9b5b6f</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>740deabc4dd3595d</td>
      <td>b5553bcac96a08bd</td>
      <td>NaN</td>
      <td>585bb1698f001567</td>
      <td>wwcc</td>
      <td>6da6272314652ef4</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
submit_example.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>13434</td>
      <td>13434</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>13434</td>
      <td>13434</td>
    </tr>
    <tr>
      <th>top</th>
      <td>39594</td>
      <td>0.9338217699730852</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
submit_example.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>30000</td>
      <td>0.5331579307274593</td>
    </tr>
    <tr>
      <th>1</th>
      <td>30001</td>
      <td>0.02768951210200299</td>
    </tr>
    <tr>
      <th>2</th>
      <td>30002</td>
      <td>0.6274925073265135</td>
    </tr>
    <tr>
      <th>3</th>
      <td>30003</td>
      <td>0.5072009660158656</td>
    </tr>
    <tr>
      <th>4</th>
      <td>30004</td>
      <td>0.12043537523179804</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
sorted(o_train['day'].unique())

['01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30']

In [27]:
sorted(t_train['day'].unique())

['01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30']

In [29]:
sorted(t_test['day'].unique())

['01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31']

In [30]:
sorted(o_test['day'].unique())

['01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31']

In [7]:
o_train[o_train['UID']=='30000']

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day</th>
      <th>mode</th>
      <th>success</th>
      <th>time</th>
      <th>os</th>
      <th>version</th>
      <th>device1</th>
      <th>device2</th>
      <th>device_code1</th>
      <th>device_code2</th>
      <th>device_code3</th>
      <th>mac1</th>
      <th>mac2</th>
      <th>ip1</th>
      <th>ip2</th>
      <th>wifi</th>
      <th>geo_code</th>
      <th>ip1_sub</th>
      <th>ip2_sub</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [27]:
o_wan=o_train[0:10000]
t_wan=t_train[0:10000]

In [32]:
o_train_day_times=o_train.groupby('UID').agg({'day':'count'}).reset_index().sort_values('day',ascending=False)

In [33]:
o_train_day_times.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3491</th>
      <td>13933</td>
      <td>1299</td>
    </tr>
    <tr>
      <th>3530</th>
      <td>13976</td>
      <td>1190</td>
    </tr>
    <tr>
      <th>3299</th>
      <td>13716</td>
      <td>950</td>
    </tr>
    <tr>
      <th>10890</th>
      <td>22187</td>
      <td>659</td>
    </tr>
    <tr>
      <th>2087</th>
      <td>12353</td>
      <td>658</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
o_train_day_times['day'].describe()

count    11979.000000
mean        35.435429
std         53.481092
min          1.000000
25%          9.000000
50%         18.000000
75%         39.000000
max       1299.000000
Name: day, dtype: float64

In [42]:
o_train['geo_code'].nunique()

3060

In [8]:
import numpy as np

In [48]:
o_train['success']=o_train['success'].astype(np.float)
df_otrain_user=o_train.groupby('UID').agg(
    {'day':'count','success':'sum','mac1':'nunique','mac2':'nunique',
     'geo_code':'nunique','ip1_sub':'nunique','ip2_sub':'nunique'
     })

In [11]:
o_train['success']=o_train['success'].astype(np.float)
df_otrain_user=o_train.groupby('UID').agg(
    {'success':['count','sum'],'day':'count'
     })

In [12]:
df_otrain_user.reset_index().head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>UID</th>
      <th colspan="2" halign="left">success</th>
      <th>day</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>count</th>
      <th>sum</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000</td>
      <td>9</td>
      <td>9.0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10001</td>
      <td>50</td>
      <td>49.0</td>
      <td>67</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10002</td>
      <td>11</td>
      <td>11.0</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10003</td>
      <td>15</td>
      <td>15.0</td>
      <td>15</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10004</td>
      <td>34</td>
      <td>32.0</td>
      <td>34</td>
    </tr>
  </tbody>
</table>
</div>

In [51]:
df_otrain_user.reset_index().to_csv('o_train_user.csv',index=False)

In [59]:
o_test['success']=o_test['success'].astype(np.float)
df_otest_user=o_test.groupby('UID').agg(
    {'day':'count','success':'sum','mac1':'nunique','mac2':'nunique',
     'geo_code':'nunique','ip1_sub':'nunique','ip2_sub':'nunique'
     })
df_otest_user.reset_index().to_csv('o_test_user.csv',index=False)

In [56]:
t_train[['trans_amt','bal']]=t_train[['trans_amt','bal']].astype(np.float)
df_ttrain_user=t_train.groupby('UID').agg(
    {'day':'count','channel':'nunique','trans_amt':'sum','bal':'sum',
     'amt_src1':'nunique','trans_type1':'nunique','acc_id1':'nunique',
     'mac1':'nunique','ip1_sub':'nunique','geo_code':'nunique'})

In [57]:
df_ttrain_user.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>day</th>
      <th>channel</th>
      <th>trans_amt</th>
      <th>bal</th>
      <th>amt_src1</th>
      <th>trans_type1</th>
      <th>acc_id1</th>
      <th>mac1</th>
      <th>ip1_sub</th>
      <th>geo_code</th>
    </tr>
    <tr>
      <th>UID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10000</th>
      <td>2</td>
      <td>1</td>
      <td>11072.0</td>
      <td>200.0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10001</th>
      <td>18</td>
      <td>2</td>
      <td>408810.0</td>
      <td>877776.0</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10002</th>
      <td>3</td>
      <td>2</td>
      <td>7095.0</td>
      <td>300.0</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10003</th>
      <td>4</td>
      <td>2</td>
      <td>22416.0</td>
      <td>400.0</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10004</th>
      <td>7</td>
      <td>2</td>
      <td>101273.0</td>
      <td>700.0</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [58]:
df_ttrain_user.reset_index().to_csv('t_train_user.csv',index=False)

In [60]:
t_test[['trans_amt','bal']]=t_test[['trans_amt','bal']].astype(np.float)
df_ttest_user=t_test.groupby('UID').agg(
    {'day':'count','channel':'nunique','trans_amt':'sum','bal':'sum',
     'amt_src1':'nunique','trans_type1':'nunique','acc_id1':'nunique',
     'mac1':'nunique','ip1_sub':'nunique','geo_code':'nunique'})
df_ttest_user.reset_index().to_csv('t_test_user.csv',index=False)

In [61]:
t_test['UID'].unique()

array(['31117', '43074', '36586', ..., '42314', '32152', '39351'],
      dtype=object)

In [62]:
df_ttest_user.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>day</th>
      <th>channel</th>
      <th>trans_amt</th>
      <th>bal</th>
      <th>amt_src1</th>
      <th>trans_type1</th>
      <th>acc_id1</th>
      <th>mac1</th>
      <th>ip1_sub</th>
      <th>geo_code</th>
    </tr>
    <tr>
      <th>UID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30000</th>
      <td>1</td>
      <td>1</td>
      <td>13691.0</td>
      <td>100.0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30001</th>
      <td>7</td>
      <td>1</td>
      <td>11659.0</td>
      <td>700.0</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30002</th>
      <td>1</td>
      <td>1</td>
      <td>1459.0</td>
      <td>100.0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30003</th>
      <td>1</td>
      <td>1</td>
      <td>2818.0</td>
      <td>100.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30004</th>
      <td>2</td>
      <td>1</td>
      <td>27382.0</td>
      <td>200.0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [69]:
dict([('a',3)])

{'a': 3}

In [74]:
t_count_var=['day']
dict_t_count_var=dict([(each,'sum') for each in t_count_var])

In [75]:
dict_t_count_var

{'day': 'sum'}

In [78]:
dict({'a': 3},**{'day': 'sum'})

{'a': 3, 'day': 'sum'}

In [79]:
['q']+['w','3']

['q', 'w', '3']

In [3]:
t_count_var=['day']
dict_t_count_var=dict([(each,'count') for each in t_count_var])

In [4]:
df_day_otrain=o_train.groupby('UID').agg(dict_t_count_var).reset_index()
df_day_ttrain=t_train.groupby('UID').agg(dict_t_count_var).reset_index()
df_sum_days=pd.merge(df_day_otrain,df_day_ttrain,how='inner',on='UID')

In [5]:
df_sum_days['days_sum']=df_sum_days.apply(lambda row:row['day_x']+row['day_y'],axis=1)
df_sum_days['days_sub']=df_sum_days.apply(lambda row:row['day_x']-row['day_y'],axis=1)

In [6]:
df_sum_days.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day_x</th>
      <th>day_y</th>
      <th>days_sum</th>
      <th>days_sub</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000</td>
      <td>9</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10001</td>
      <td>67</td>
      <td>18</td>
      <td>85</td>
      <td>49</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10002</td>
      <td>11</td>
      <td>3</td>
      <td>14</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10003</td>
      <td>15</td>
      <td>4</td>
      <td>19</td>
      <td>11</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10004</td>
      <td>34</td>
      <td>7</td>
      <td>41</td>
      <td>27</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
dic_oday=dict(list(o_train[['UID','day']].groupby('UID')))

In [17]:
dic_oday['10000']

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>87507</th>
      <td>10000</td>
      <td>13</td>
    </tr>
    <tr>
      <th>96940</th>
      <td>10000</td>
      <td>26</td>
    </tr>
    <tr>
      <th>150480</th>
      <td>10000</td>
      <td>26</td>
    </tr>
    <tr>
      <th>168206</th>
      <td>10000</td>
      <td>26</td>
    </tr>
    <tr>
      <th>196361</th>
      <td>10000</td>
      <td>26</td>
    </tr>
    <tr>
      <th>216744</th>
      <td>10000</td>
      <td>13</td>
    </tr>
    <tr>
      <th>307385</th>
      <td>10000</td>
      <td>13</td>
    </tr>
    <tr>
      <th>339411</th>
      <td>10000</td>
      <td>26</td>
    </tr>
    <tr>
      <th>420183</th>
      <td>10000</td>
      <td>13</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
dic_tday=dict(list(t_train[['UID','day']].groupby('UID')))

In [25]:
len(set(dic_tday['10001']['day'])&set(
    dic_oday['10001']['day']))

7

In [34]:
set(dic_oday.keys())-set(label_train['UID'])

set()

In [35]:
set(dic_tday.keys())-set(label_train['UID'])

set()

In [50]:
keys=set(dic_tday.keys())&set(dic_oday.keys())

In [37]:
len(keys)

11570

In [65]:
alls=[]

In [66]:
for key in keys:
    d={}
    # print('key',key)
    d['UID']=key
    d['o_t_days']=\
    len(set(dic_tday[key]['day'])&set(
    dic_oday[key]['day']))
    alls.append(d)

In [67]:
pd.DataFrame(alls)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>o_t_days</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>15660</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20043</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14656</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15137</td>
      <td>11</td>
    </tr>
    <tr>
      <th>4</th>
      <td>18002</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14296</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>22395</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14910</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>18115</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>12075</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>22676</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12456</td>
      <td>13</td>
    </tr>
    <tr>
      <th>12</th>
      <td>11706</td>
      <td>2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>18735</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15470</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>12060</td>
      <td>6</td>
    </tr>
    <tr>
      <th>16</th>
      <td>15637</td>
      <td>3</td>
    </tr>
    <tr>
      <th>17</th>
      <td>14730</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>16539</td>
      <td>3</td>
    </tr>
    <tr>
      <th>19</th>
      <td>15366</td>
      <td>6</td>
    </tr>
    <tr>
      <th>20</th>
      <td>14256</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21</th>
      <td>19721</td>
      <td>3</td>
    </tr>
    <tr>
      <th>22</th>
      <td>20351</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>11590</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>17191</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>20707</td>
      <td>5</td>
    </tr>
    <tr>
      <th>26</th>
      <td>21907</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>19532</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>21553</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>17455</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>11540</th>
      <td>17418</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11541</th>
      <td>21455</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11542</th>
      <td>23095</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11543</th>
      <td>19248</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11544</th>
      <td>15378</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11545</th>
      <td>11790</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11546</th>
      <td>19488</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11547</th>
      <td>16863</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11548</th>
      <td>20338</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11549</th>
      <td>13051</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11550</th>
      <td>23173</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11551</th>
      <td>16791</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11552</th>
      <td>14940</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11553</th>
      <td>12801</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11554</th>
      <td>22337</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11555</th>
      <td>12405</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11556</th>
      <td>13949</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11557</th>
      <td>12539</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11558</th>
      <td>17298</td>
      <td>12</td>
    </tr>
    <tr>
      <th>11559</th>
      <td>11075</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11560</th>
      <td>11768</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11561</th>
      <td>16855</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11562</th>
      <td>18871</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11563</th>
      <td>12881</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11564</th>
      <td>18230</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11565</th>
      <td>21677</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11566</th>
      <td>13314</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11567</th>
      <td>13779</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11568</th>
      <td>22849</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11569</th>
      <td>15989</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
<p>11570 rows  2 columns</p>
</div>

In [86]:
df_temp=o_train.groupby(['UID','os'])['day'].agg('count').reset_index()

In [87]:
df_temp.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>os</th>
      <th>day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000</td>
      <td>103</td>
      <td>9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10001</td>
      <td>102</td>
      <td>49</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10001</td>
      <td>104</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10001</td>
      <td>200</td>
      <td>17</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10002</td>
      <td>101</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [88]:
df_temp=df_temp.groupby('UID')['day'].agg([('a_sum','sum')]).reset_index()

In [83]:
df_temp.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>a_sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000</td>
      <td>9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10001</td>
      <td>67</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10002</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10003</td>
      <td>15</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10004</td>
      <td>34</td>
    </tr>
  </tbody>
</table>
</div>

In [84]:
df=pd.merge(label_train[['UID']],df_temp,how='left',on='UID')

In [85]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UID</th>
      <th>a_sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10001</td>
      <td>67.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10002</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10003</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10004</td>
      <td>34.0</td>
    </tr>
  </tbody>
</table>
</div>

In [91]:
each='os'
df_label=label_train[['UID']]
df_temp=o_train.groupby(['UID',each])['day'].agg('count').reset_index()
df_temp=df_temp.groupby('UID')['day'].agg([('{}_sum'.format(each),'sum')])

In [92]:
df_temp.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>os_sum</th>
    </tr>
    <tr>
      <th>UID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10000</th>
      <td>9</td>
    </tr>
    <tr>
      <th>10001</th>
      <td>67</td>
    </tr>
    <tr>
      <th>10002</th>
      <td>11</td>
    </tr>
    <tr>
      <th>10003</th>
      <td>15</td>
    </tr>
    <tr>
      <th>10004</th>
      <td>34</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
df_label=pd.merge(df_label,df_temp,how='left',on='UID')